<div class="wrap">
	<div class="sidebar">This is Sidebar</div>
	<div class="main-content">
		<div id="header">
			<h1 class="pull-left">Aaron Johnson <span class="small"><%= link_to current_user.email %></span></h1>
		</div>
		
	</div>
</div>