<%= render 'partials/user_nav' %>


<div class="container">
	
	
		
		<div class="row">
			<div class="col-md-7">
				<h1>Track your savings!</h1>
				<p>This is test that would tell you how you can enter your transactions and track your savings.</p>
			</div>
			<div class="col-md-5">
				<div class="tour-img"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				<div class="tour-img"></div>
			</div>
			<div class="col-md-7">
				<h1>Create your shopping lists.</h1>
				<p>This is test that would tell you how you can enter your transactions and track your savings.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<h1>Favorite links in one place.</h1>
				<p>This is test that would tell you how you can enter your transactions and track your savings.</p>
			</div>
			<div class="col-md-5">
				<div class="tour-img"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				<div class="tour-img"></div>
			</div>
			<div class="col-md-7">
				<h1>Get social</h1>
				<p>Follow local friends and keep them in loop on deals or coupons that they could take advantage of.</p>
			</div>
		</div>
</div>
